/* Estilo normal */
body {
    background-color: #f0f0f0;
    color: #333333;
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 5px;
}

h1 {
    color: #333333;
    text-align: center;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    width: 70%;
    margin: 25px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="date"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    background-color: #ffffff;
    color: #333333;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    background-color: #007bff;
    color: #ffffff;
}

button {
    background-color: #007bff;
    color: #ffffff;
    width: 15%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

/* Estilo de alto contraste */
.high-contrast {
    background-color: #000000;
    color: #ffffff;
}

.high-contrast form {
    background-color: #333333;
}

.high-contrast input[type="text"],
.high-contrast input[type="email"],
.high-contrast input[type="date"] {
    background-color: #4f4f4f;
    color: #ffffff;
    border: 1px solid #ffffff;
}

.high-contrast input[type="submit"],
.high-contrast button {
    background-color: #ffcc00;
    color: #000000;
}

.high-contrast button:hover {
    background-color: #ff9900;
}
